:root {
  --slide-width: 600px;
  --slide-border-width: 40px;
  --overall-slide-width: calc(var(--slide-width) + 2 * var(--slide-border-width));
  --centering-constant: calc(50vw + var(--overall-slide-width) / 2);
  --slide-container-offset-constant: calc(50vw - var(--overall-slide-width) / 2);
}

body {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
  line-height: 1.125;
  top: 200px;
}

h1 {
  line-height: 1.2;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  margin-bottom: 0;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  margin: 0;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

#slides-container {
  width: fit-content;
  display: flex;
  position: relative;
  left: var(--slide-container-offset-constant);
  transition-duration: .5s;
}

.slide {
  position: static;
  display: flex;
  width: var(--slide-width);
  background-color: #eee;
  height: 280px;
  border-left: var(--slide-border-width);
  border-right: var(--slide-border-width);
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: #f9f9f9;
}

.slide-text-container {
  margin-right: 64px;
}

img {
  width: 210px;
  height: 250px;
  padding: 15px 18px;
}

.arrow {
  position: absolute;
  z-index: 5;
  width: 32px;
  bottom: 102px;
  height: auto;
  background-color: white;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
}

#arrow-left {
  left: var(--slide-container-offset-constant);
}

#arrow-right {
  right: var(--slide-container-offset-constant);
}

.hider {
  position: fixed;
  z-index: 10;
  width: 50vw;
  height: 100vh;
  background-color: white;
}

#hider-1 {
  left: var(--centering-constant);
}

#hider-2 {
  right: var(--centering-constant);
}
